* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{

  --white:#fff;
  --black: #000;
  --color-primary: rgb(21, 105, 99);
  --color-secondary:  rgb(44, 21, 0);
  --color-light: rgb(224, 224, 224);
  --shopnow-bg-color: rgb(243, 244, 246);
  --btn-hover-color: rgb(95, 152, 148);
  --title-size: 68px;
  --btn-radius: 0px;
  --ff_main: "Montserrat", sans-serif;
  --ff: "Nunito", sans-serif;

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.main {
  text-align: center;
}

.header {
}

.container {
  margin-inline: auto;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 56px;
}

.btn-group {
  display: flex;
}

.btn {
  padding: 8px 20px;
  font-family: var(--ff);

  font-size: 14px;
  font-weight: 700;
  text-align: center;
  width: 111px;
}

.sign_up-btn {
  color: var(--color-primary);
}

.sign_in-btn {
  color: var(--white);
  background: var(--color-primary);
}

.sign_in-btn:hover {
  background: var(--btn-hover-color);
}

.main__container {
  text-align: center;
  padding-top: 157px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 323px;
}

.main__title {
  color: var(--color-primary);
  font-family: var(--ff_main);
  font-size: var(--title-size);
  font-weight: 500;
  margin-bottom: 24px;
}

.main__desc {
  color: --color-secondary;
  font-family: var(--ff_main);
  font-size: 18px;
  font-weight: 400;
  max-width: 493px;
  width: 100%;
}

.advantages {
}

.advantages__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 0px;
  max-width: 1168px;
  justify-items: center;
  margin-bottom: 80px;
}

.advantages__block {
  box-sizing: border-box;
  border: 1px solid var(--color-light); 
  background: var(--white);
  max-width: 268px;
  width: 100%;
  padding: 22px 16px;
}

.advantages__header {
  display: flex;
  align-items: flex-end;
  gap: 16px;
  margin-bottom: 16px;
}

.advantages__title {
  color: var(--color-primary);
  font-family: var(--ff_main);
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

.advantages__desc {
  max-width: 236px;
  width: 100%;
  font-family: var(--ff_main);
  color: var(--color-secondary);
  font-size: 10px;
  font-weight: 400;
  text-align: left;
}

.products {
}

.products__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  justify-items: center;
  max-width: 1168px;
  margin-bottom: 80px;
}

.products__title {
  color: var(--black);
  font-family: var(--ff_main);
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
}

.products__separator {
  /* Gray 5 */
  border: 1px solid var(--color-light);
  width: 1168px;
  margin-inline: auto;
  margin-bottom: 31px;
}

.products__block {
  text-align: center;
}

.products__desc {
}

.products__name {
  margin-top: 16px;
  color: var(--black);
  font-family: var(--ff_main);
  font-size: 16px;
  font-weight: 400;
}

.products__price {
  color: var(--black);
  font-family: var(--ff_main);
  font-size: 16px;
  font-weight: 600;
}

.shopnow {
  background-color: var(--shopnow-bg-color);
  max-width: 1168px;
  margin-inline: auto;
}

.shopnow__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 61px;
}

.shopnow__group {
  margin-left: 97px;
}

.shopnow__title {
  color: var(--color-secondary);
  font-family: var(--ff_main);
  font-size: 40px;
  font-weight: 700;
  max-width: 585px;
  margin-bottom: 32px;
}

.shop-btn {
  color: var(--white);
  font-family: var(--ff);
  font-size: 14px;
  font-weight: 700;

  padding: 10px 45px;
  box-sizing: border-box;
  background: var(--color-primary);
  text-align: center;
}

.shop-btn:hover {
  background: var(--btn-hover-color);
}
